<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>关于我们</title>
    <link href="/css/bottom_page.css" rel="stylesheet" type="text/css" media="all"/>
</head>

<body style="position: relative;overflow-y:scroll;">

<!--header-->
<div th:include="fragments/header_w::header"></div>


<!--main-content-->
<div class="main_content" style="min-height: 900px;">
    <div class="left-menu" style="height: 1995px">
        <ul>
            <li><a href="#"><i class="glyph-icon icon-chevron-right1"></i>关于我们</a></li>
        </ul>
    </div>

    <div class="right-content" style="height: 1995px; overflow: visible;">
        <div class="title">
            <h6>境界的彼方</h6>
        </div>
        <br/>

        <div>
            <p>团队名称：境界的彼方</p>
            <p>寓意：有很多需要我们去帮助的人们，在境界的那一片沙漠，有无数急需救助的人需要我们贡献一滴滴水滴，汇流成河</p>
            <p>团队宣言：从零开始，永不放弃</p>
            <p>成员介绍：</p>
        </div>

        <div class="intro">
            <div style="display: inline-block"><img src="images/wangchuan.png"/></div>
            <div class="intro-text">
                <p>王川</p>
                <p>Master</p>
                <p>喜欢接触新事物</p>
            </div>
        </div>

        <div class="intro">
            <div style="display: inline-block"><img src="images/lixizhi.png"/></div>
            <div class="intro-text">
                <p>李希之</p>
                <p>PO</p>
                <p>幽默，洞察力强</p>
            </div>
        </div>

        <div class="intro">
            <div style="display: inline-block"><img src="images/wuzhengting.png"/></div>
            <div class="intro-text">
                <p>吴正挺</p>
                <p>团队灵魂</p>
                <p>乐观开朗，热爱编程</p>
            </div>
        </div>

        <div class="intro">
            <div style="display: inline-block"><img src="images/suqiancheng.png"/></div>
            <div class="intro-text">
                <p>苏前程</p>
                <p>颜值担当</p>
                <p>热爱生命，喜欢思考和钻研技术</p>
            </div>
        </div>

        <div class="intro">
            <div style="display: inline-block"><img src="images/mashuoxin.png"/></div>
            <div class="intro-text">
                <p>马朔昕</p>
                <p>技术骨干</p>
                <p>喜欢计算</p>
            </div>
        </div>

    </div>
</div>


<!--footer-->
<div th:include="fragments/footer_w::footer"></div>
</body>
</html>
