<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="/css/bottom_page.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/css/bootstrap1.css" rel="stylesheet"/>
    <link href="/css/style1.css" rel="stylesheet"/>
</head>

<body style="position: relative;">

       <!-- container -->
        <div class="container blog-content-container" style="margin: 20px 60px;">
            <h2 style="margin: 31px 14px">修改管理员信息</h2>
            <form  th:action="'/admins/complete_admin_info?id='+${adminModel.id}" method="post">
                <div class="form-group col-md-5">
                    <label for="realname" class="col-form-label">姓名</label>
                    <input type="text" class="form-control" id="realname" name="realname" maxlength="40" placeholder="请输入真实姓名" />
                </div>
                <div class="form-group col-md-5">
                    <label>性别</label><br/>
                    男<input type="radio" checked="checked" name="sex" value="1" />
                    女<input type="radio" name="sex" value="0" />
                </div>
                <div class="form-group col-md-5">
                    <label for="user_id_card" class="col-form-label">身份证</label>
                    <input type="text" class="form-control" id="user_id_card" name="user_id_card" maxlength="40" placeholder="请输入身份证号" />
                </div>
                <div class="form-group col-md-5">
                    <label for="email" class="col-form-label">邮箱</label>
                    <input type="text" class="form-control" id="email" name="email" maxlength="40" placeholder="请输入邮箱地址" />
                </div>
                <div class="form-group col-md-5">
                    <label for="tel" class="col-form-label">手机</label>
                    <input type="text" class="form-control" id="tel" name="tel" maxlength="40" placeholder="请输入手机号码" />
                </div>
                <div class="form-group col-md-5">
                    <label for="address" class="col-form-label">住址</label>
                    <input type="text" class="form-control" id="address" name="address" maxlength="40" placeholder="请输入住址" />
                </div>

                <button class="btn-form" type="submit" >提交</button>
                <div class=" col-md-5" th:if="${loginError}">
                    <p class="blog-label-error" th:text="${errorMsg}"></p>
                </div>
            </form>


        <script type="text/javascript">
            //为表单的必填文本框添加提示信息（选择form中的所有后代input元素）
            $("form :input.required").each(function () {
                //创建元素
                var $required = $("<strong class='high'>*</strong>");
                //将它追加到文档中
                $(this).parent().append($required);
            });
        </script>
    </div>

</body>
</html>




