<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <link href="../css/bootstrap1.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../css/Iframe.css" rel="stylesheet" type="text/css" media="all" />
    <style type="text/css">
        a {color: #2aaf42;}
    </style>
</head>
<body>
<div class="table_con">
    <table>
        <tr class="tb_title">
            <td width="110px">订单序号</td>
            <td width="230px">项目名</td>
            <td width="110px">捐助金额</td>
            <td width="120px">捐助人</td>
            <td width="110px">捐助时间</td>
        </tr>

        <tr>
            <td width="110px">1</td>
            <td width="230px">大山里的健康小课桌</td>
            <td width="110px">10</td>
            <td width="120px">睿智挺</td>
            <td width="110px">2018/3/21</td>
        </tr>

    </table>
</div>
</body>
</html>