<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <link href="../css/bootstrap1.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../css/Iframe.css" rel="stylesheet" type="text/css" media="all" />
    <style type="text/css">
        a {color: #2aaf42;}
    </style>
</head>
<body>
<div class="table_con">
    <table>
        <tr class="tb_title">
            <td width="130px">订单序号</td>
            <td width="190px">项目名</td>
            <td width="90px">捐助金额</td>
            <td width="140px">捐助人</td>
            <td width="210px">捐助时间</td>
        </tr>

        <tr th:each="menu: ${orderModel.orderList}">
            <td width="130px" th:text="${menu.orderID}"></td>
            <td width="190px" th:text="${menu.getProject().getTitle()}">大山里的健康小课桌</td>
            <td width="90px" th:text="${menu.price}"></td>
            <td width="140px" th:text="${menu.getUser().getUsername()}"></td>
            <td width="210px" th:text="${menu.createTime}"></td>
        </tr>

    </table>
</div>
</body>
</html>