<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <link href="../css/bootstrap1.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../css/Iframe.css" rel="stylesheet" type="text/css" media="all" />
    <style type="text/css">
        a {color: #2aaf42;}
        .table_con table tbody tr td input {
            width: 70px;}

    </style>
</head>
<body>
<div class="table_con">
    <table>
        <tr class="tb_title">
            <td width="180px">项目名</td>
            <td width="320px">项目简介</td>
            <td width="130px">修改信息</td>
            <td width="130px">取消审核</td>
        </tr>
        <tr th:each="menu : ${projectModel.projectList}">
            <td width="180px" th:text="${menu.title}"></td>
            <td width="320px" th:text="${menu.summary}" class="product-buyer-name">menu.text</td>
            <td width="130px"><a th:href="'/u/projects/edit?id='+${menu.id}">修改信息</a></td>
            <!--<td width="130px"><a href="#" class="limit-words">修改信息</a></td>-->
            <td width="130px">
                <a id="sj_btn_a" th:href="@{'/admins/cancle_project_verified/'+${menu.id}}" style="width:75px">取消审核</a>
            </td>
        </tr>

    </table>
</div>
</body>
</html>