<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>个人认证</title>
    <link href="/css/bottom_page.css" rel="stylesheet" type="text/css" media="all"/>
    <style>
        .main_content span{
            position: absolute;
            width: 200px;
            top: 34px;
            left: 325px;
        }

        .container div{
            position: relative;
        }

        .container .form-valid{
            position: absolute;
            top: 40px;
            left: 300px;
            width: 16px;
            height: 16px;
            background-image: url(/images/validation.png);
            background-position: 16px;
        }

        .container .form-invalid{
            position: absolute;
            top: 40px;
            left: 300px;
            width: 16px;
            height: 16px;
            background-image: url(/images/validation.png);
            background-position: 0px;
        }
    </style>
</head>

<body style="position: relative;overflow-y:scroll;">

<!--header-->
<div th:include="fragments/header_w::header"></div>


<!--main-content-->
<div class="main_content" style="min-height: 900px;">
    <div class="left-menu" style="min-height: 896px">
        <ul>
            <li><a href="#"><i class="glyph-icon icon-chevron-right1"></i>个人认证</a></li>
        </ul>
    </div>

    <div class="right-content" style="overflow: hidden">
        <div class="title">
            <h6>境界的彼方</h6>
        </div>
        <!-- /container -->
        <div class="container blog-content-container" style="margin: 20px 60px;">
            <h2 style="margin: 31px 14px">个人认证</h2>
            <div style="float: left;width: 500px">
                <form th:action="@{/u/user_commit_verify}" method="post">
                    <div class="form-group col-md-5">
                        <label for="realname" class="col-form-label">姓名</label>
                        <input type="text" class="form-control" id="realname" name="realname" maxlength="40"
                               placeholder="请输入真实姓名"/>
                    </div>
                    <div class="form-group col-md-5">
                        <label>性别</label><br/>
                        男<input type="radio" checked="checked" name="sex" value="1"/>
                        女<input type="radio" name="sex" value="0"/>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="user_id_card" class="col-form-label">身份证</label>
                        <input type="text" class="form-control" id="user_id_card" name="user_id_card" maxlength="40"
                               placeholder="请输入身份证号"/>
                        <span style="display: none;">身份证格式不正确</span>
                        <i class="form-invalid"></i>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="email" class="col-form-label">邮箱</label>
                        <input type="text" class="form-control" id="email" name="email" maxlength="40"
                               placeholder="请输入邮箱地址"/>
                        <span style="display: none;">邮箱格式不正确</span>
                        <i class="form-invalid"></i>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="tel" class="col-form-label">手机</label>
                        <input type="text" class="form-control" id="tel" name="tel" maxlength="40"
                               placeholder="请输入手机号码"/>
                        <span style="display: none;">手机号格式不正确</span>
                        <i class="form-invalid"></i>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="address" class="col-form-label">住址</label>
                        <input type="text" class="form-control" id="address" name="address" maxlength="40"
                               placeholder="请输入住址"/>
                    </div>
                    <input id="button-submit-verify" class="btn-form" type="button" style="margin: 20px 150px;" value="提交">
                    <div class=" col-md-5" th:if="${loginError}">
                        <p class="blog-label-error" th:text="${errorMsg}"></p>
                    </div>
                </form>
            </div>

            <div style="float: left;">
                <form th:action="@{/u/user_commit_image}" method="POST" enctype="multipart/form-data">
                    <div class="a-upload">
                        <label for="image">选择文件</label>
                        <input type="file" id="image" name="image">
                    </div>
                    <div>
                        <input class="btn-form" type="submit" value="上传"/>
                    </div>
                </form>
            </div>

            <!--<form th:action="@{/u/user_commit_image}" method="post" enctype="multipart/form-data">-->
                <!--<div class="form-group col-md-5">-->
                    <!--<input type="file" id="image" onclick="uploadImg()"/>-->
                    <!--<input class="bj_btn" type="submit" style="width: 60px;height: 35px;" value="上传" />-->
                <!--</div>-->
            <!--</form>-->
        </div>


        <script type="text/javascript">
            //为表单的必填文本框添加提示信息（选择form中的所有后代input元素）
            $("form :input.required").each(function () {
                //创建元素
                var $required = $("<strong class='high'>*</strong>");
                //将它追加到文档中
                $(this).parent().append($required);
            });

            // function uploadImg()
            // {
            //     var file=document.getElementById("uploadImgInput").files[0];
            //     if(!/image\/\w+/.test(file.type)) //判断获取的是否为图片文件
            //     {
            //         alert("请确保文件为图像文件");
            //         return false;
            //     }
            // }
            //     var reader=new FileReader();
            //     reader.uploadImg(file);
            //     reader.onload=function(e)
            //     {
            //         var result=document.getElementById("result");
            //         result.innerHTML='<img src="'+this.result+'" alt=""/>'
            //     }
            // }

        </script>
    </div>
</div>

<!--footer-->
<div th:include="fragments/footer_w::footer"></div>
<script type="text/javascript">
    var reg = {
        tel:/^1[34578]\d{9}$/,
        //用来判断电话号码，通常手机号第一位为1，第二位只可能出现3.4.5.7.8，后面剩下的9位数字随机
        email:/^[1-9a-zA-Z_]\w*@[a-zA-Z0-9]+(\.[a-zA-Z]{2,})+$/,
        //用来判断邮箱，通常邮箱没有以0开头的，所以第一位为1-9数字或者小写字母或者大写字母，第二位开始任意字符
        //也可以只有第一位没有第二位，*表示至少0个，@后面同理，小写字母或者大写字母或者数字，.需要转意符，所以写成\.
        //点后面通常是com或者cn或者com.cn，所以是小写字母或者大写字母至少两位
        // user_id_card:/^[1-9]\d{7}((0[1-9])|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0[1-9])|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/,
        user_id_card:/^[1-9][0-9]{5}(19|20)[0-9]{2}((01|03|05|07|08|10|12)(0[1-9]|[1-2][0-9]|31)|(04|06|09|11)(0[1-9]|[1-2][0-9]|30)|02(0[1-9]|[1-2][0-9]))[0-9]{3}([0-9]|x|X)$/,
        //用来判断身份证，身份证号有15位和18位之分，所以写两个，用或者
    };
    var arr = [
        $("[name='tel']")[0],
        $("[name='email']")[0],
        $("[name='user_id_card']")[0]
    ];

    for(var i=0;i<arr.length;i++) {
        arr[i].onkeyup = function () {
            if (this.value) {
                if ( (reg[arr[0].name].test(arr[0].value)) && (reg[arr[1].name].test(arr[1].value)) && (reg[arr[2].name].test(arr[2].value))) {
                    $("#button-submit-verify")[0].disabled = false;
                    $("#button-submit-verify")[0].className = "btn-form";
                }
                if (reg[this.name].test(this.value)) {
                    this.nextElementSibling.style.display = 'none'; //判断正确让span隐藏
                    this.nextElementSibling.nextElementSibling.className = 'form-valid'; //判断正确显示正确的i
                } else {
                    this.nextElementSibling.style.display = 'block'; //判断错误显示span进行提示
                    this.nextElementSibling.nextElementSibling.className = 'form-invalid'; //判断错误显示错误的i
                    // this.focus();
                    $("#button-submit-verify")[0].disabled = true;
                    $("#button-submit-verify")[0].className = "btn-form-disabled";
                }
            }
        };
    }
</script>
</body>
</html>


